<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Mobile View</title>
</head>
<body>

<div th:if="${#request.getParameter('username') != null
            && #request.getParameter('username') != ''
            && #request.getParameter('password') != null
            && #request.getParameter('password') != ''
            }">
    <form id="form-data" th:action="@{/mobile/security_check}" th:object="${userDto}" method="post">
        <label>
            <input id="username" th:field="*{username}" type="text" placeholder="Username" required/>
        </label>
        <label>
            <input id="password" th:field="*{password}" type="text" placeholder="Password" required/>
        </label>
        <button type="submit">Submit</button>
    </form>
</div>
<div th:unless="${#request.getParameter('username') != null
            && #request.getParameter('username') != ''
            && #request.getParameter('password') != null
            && #request.getParameter('password') != ''
            }">
    <h1>Forbidden</h1>
</div>

<script>
    window.onload = function () {
        let usernameInput = document.getElementById('username');
        let passwordInput = document.getElementById('password');

        if (usernameInput && passwordInput) {
            console.info(`${usernameInput.value} dan ${passwordInput.value}`);
            // let formData = document.getElementById('form-data');
            // formData.submit();
        }
    };
</script>

</body>
</html>